footer
	.container
		.row
			.col-xs-12.col-sm-4
				.footer-block
					h3.fblock__header Verzekeringen van Centraal Beheer:
					.fblock__text
						ul
							li
								a.lp-link(onclick="Link('#{autoLPLink}','cross','zka','foot-info-auto','referrer','49545');return false;" href="#{autoLPLink}") Autoverzekering
							li
								a.lp-link(onclick="Link('#{woonLPLink}','cross','zka','foot-info-woon','referrer','49545');return false;" href="#{woonLPLink}") Woonverzekering
							li
								a.lp-link(onclick="Link('#{rechtLPLink}','cross','zka','foot-info-rbv','referrer','49545');return false;" href="#{rechtLPLink}") Rechtsbijstandverzekering
							li
								a.lp-link(onclick="Link('#{bootLPLink}','cross','zka','foot-info-boot','referrer','49545');return false;" href="#{bootLPLink}") Bootverzekering
							li
								a.lp-link(onclick="Link('#{caravanLPLink}','cross','zka','foot-info-caravan','referrer','49545');return false;" href="#{caravanLPLink}") Caravanverzekering
							li
								a.lp-link(onclick="Link('#{camperLPLink}','cross','zka','foot-info-camper','referrer','49545');return false;" href="#{camperLPLink}") Camperverzekering
							li
								a.lp-link(onclick="Link('#{motorLPLink}','cross','zka','foot-info-motor','referrer','49545');return false;" href="#{motorLPLink}") Motorverzekering
			.hidden-xs-ls.col-ts-12.col-sm-4
				.footer-block.footer-block--hoekje
					.fblock__logo
						.kkv-logo
							img(src="img/kkv-logo-329x311px.png")
					h3.fblock__header Keurmerk Klantgericht Verzekeren
					.fblock__text
						p Zilveren Kruis Achmea en Centraal Beheer hebben het Keurmerk Klantgericht Verzekeren verdiend. Een kwaliteitskeurmerk waarbij klantgericht werken centraal staat.
			.hidden-xs-ls.col-ts-12.col-sm-4
				.footer-block.footer-block--hoekje
					.fblock__logo
						.cb-beste-logo
							img(src="img/rechtsbijstand-beste_uit_de_test-20141.jpg")
					h3.fblock__header Als beste uit de test
					.fblock__text
						p De Rechtsbijstand#[span.hyphen--rechtsbijstandverzekering -]verzekering van Centraal Beheer is door de Consumentenbond bekroond met het predicaat ‘beste uit de test’. Het onafhankelijke testoordeel van de Consumentenbond kwam uit op een&nbsp;7,6.
	.container
		.row
			.col-xs-12
				.subfooter-links
					ul
						li
							span(itemprop='name')
								a(href='http://www.zilverenkruis.nl/Pages/Disclaimer.aspx', itemprop='url') disclaimer
						li
							span(itemprop='name')
								a(href='http://www.zilverenkruis.nl/Pages/Privacy.aspx', itemprop='url') privacy
						li
							span(itemprop='name')
								a(href='http://www.zilverenkruis.nl/Pages/Cookies.aspx', itemprop='url') cookies